{% load meta %}
{% load static %}
<!DOCTYPE html>
<html>
  <head {% meta_namespaces %} >
    <meta charset="UTF-8" />
      {% include "meta/meta.html" %}
    <title>Placeit </title>
      <link rel="shortcut icon" type="image/ico" href="/static/img/favicon_io/favicon.ico">
      <link rel="manifest" href="{% static "manifest.json" %}">
      <script src="{% static "/js/installsw.js"%}"></script>
      <!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"-->
<!--    />-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>

        .loader {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        img{
            height: 12rem;
        }

        .loader--hide {

            display:none;
            opacity: 0;
        }


    </style>


  </head>
{#  <body id="app">#}
<body>
    <div id="app"></div>
    <div class="loader">
        <img src='{% static "/img/loader.gif" %}' alt="">
    </div>
    <script src='{% static "frontend/main.js" %}'></script>
</body>

{#  </body>#}
</html>
