{% load static %}
{% load auth_extras %}

<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<div abc="{% url 'profile' as profilessss %}"></div>
<div class="max-w-6xl mx-auto">
    <div class="">
        <img  src='{% static "/img/cover2.jpeg"%}' class="w-full h-48 sm:h-72" alt="">
    </div>
    <div class="flex -mt-24 ">
        <div class="px-10 sm:px-20 block relative">
            <img alt="user_image"{% if display_user_content.i_card_image == "" %}
                 src='{% static "/img/default-avatar.png"%}'
            {% else %}
                 src='/media/{{ display_user_content.i_card_image }}'
            {% endif %}
                 class="mx-auto object-cover rounded-full h-36 w-36 sm:w-48 sm:h-48  mt-2 border-2 border-black" />
        </div>
    </div>
    <div class="flex flex-row-reverse max-w-6xl mx-4 md:-mt-4 md:mt-0 ">

            <button id="shareBtn"
                    class="text-white py-2 px-4 border-2 text-2xl text-blue-700 border-blue-900 rounded-full hover:text-white hover:bg-blue-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">

                <i class='bx bx-user-plus'></i>
            </button>

    </div>
</div>

<div class=" max-w-6xl mx-auto ">
    <div class="font-semibold text-xl md:text-3xl mx-10 mt-4 mx-auto">
        {{display_user_content.First_name}} {{display_user_content.middle_name}} {{display_user_content.Last_name}}
        {% if display_user_content|has_group:"Faculty" or display_user_content|has_group:"Head" %}
          <i class='bx bxs-badge-check text-xl md:text-3xl' style='color:#497de4'></i>
        {% endif %}
    </div>
    <ul class="max-w-3xl">
        {% if display_user_content.Affliated_Department.name != None %}
            <li class="flex justify-items-start space-x-4 mx-10 my-4">
                <i class="bx bxs-graduation text-2xl"></i>
                <p class="text-sm md:text-xl">
                    {{display_user_content.Affliated_Department.name}}
                </p>
            </li>
        {% endif %}

        <li class="flex justify-items-start space-x-4 mx-10 my-4">
            <i class="bx bxs-envelope text-2xl"></i>
            <a class="text-sm text-indigo-700 md:text-xl" href="#link">{{display_user_content.email}}</a>
        </li>
        <li class="flex justify-items-start space-x-4 mx-10 my-4">
            <i class="bx bxs-message-square-dots text-2xl"></i>
            <p class="text-sm sm:text-xl">
                {{display_user_content.Bio}}
            </p>
        </li>
    </ul>
</div>

<div class="flex mb-4 border-b- border-gray-200 dark:border-gray-700 justify-center">
    <ul class="flex sm:space-x-4 -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent"
        role="tablist">
        <li class="" role="presentation">
            <button
                    class="inline-block p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500"
                    id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                    aria-selected="true">
                Personal
            </button>
        </li>
        {% if display_user_content|has_group:"Student" %}
        <li class="" role="presentation">
            <button
                    class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                    id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
                    aria-selected="false">
                Education
            </button>
        </li>
        <li class="" role="presentation">
            <button
                    class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                    id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings"
                    aria-selected="false">
                Company
            </button>
        </li>
            {% if request.user.is_authenticated and  request.user.id == display_user_content.id%}
                <li role="presentation">
                    <button
                            class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                            id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts"
                            aria-selected="false">
                        Resume
                    </button>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>

<div id="myTabContent">
    <div class="p-4 rounded-lg max-w-6xl mx-auto " id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="text-gray-900">
            <div class="flex flex-row mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        First-Name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.First_name}}
                </div>
            </div>
            <div class="flex flex-row mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Second-Name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.middle_name}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Last-Name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.Last_name}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        <i class='bx bxl-github' ></i>
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    <a href="{{display_user_content.Github_profile}}">{{display_user_content.Github_profile}}</a>
                </div>
            </div>
            <div class="flex mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        <i class='bx bxl-linkedin-square' style='color:#0a66c2'>

                        </i>
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    <a href="{{display_user_content.linkedin_profile}}">{{display_user_content.linkedin_profile}}</a>
                </div>
            </div>

            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        MIS no :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.MIS_no}}
                </div>
            </div>
            {% if display_user_content|has_group:"Student" %}
                <div class="flex  mb-4 space-x-2 mx-2">
                    <div class=" text-sm md:text-xl">
                        <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                            Student phonenumber :
                        </label>
                    </div>
                    <div class="text-sm md:text-xl">
                        {{display_user_content.Student_phone_number}}
                    </div>
                </div>
                <div class="flex  mb-4 space-x-2 mx-2">
                    <div class=" text-sm md:text-xl">
                        <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                            Parent phonenumber :
                        </label>
                    </div>
                    <div class="text-sm md:text-xl">
                        {{display_user_content.Parent_phone_number}}
                    </div>
                </div>

            {% else %}
                <div class="flex  mb-4 space-x-2 mx-2">
                    <div class=" text-sm md:text-xl">
                        <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                            phonenumber :
                        </label>
                    </div>
                    <div class="text-sm md:text-xl">
                        {{display_user_content.Student_phone_number}}
                    </div>
                </div>

            {% endif%}



            <div class="name font-semibold text-xl  md:text-2xl mx-10 mb-4 mx-auto">
                Address-
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Building name And RoomNumber :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.Building_name_And_RoomNumber}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Building name And RoomNumber :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.Building_name_And_RoomNumber}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Locality_name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.Locality_name}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        State Name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.State_name}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        PostalCode :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.PostalCode}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Country Name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.Country_name}}
                </div>
            </div>

            {#            <div class="flex  mb-4 space-x-2 mx-2">#}
{#                <div class="text-sm md:text-xl">#}
{#                    <label class="block text-gray-900 font-bold text-right" for="inline-full-name">#}
{#                        <i class='bx bxl-gmail' style='color:#bb001b'></i>#}
{#                    </label>#}
{#                </div>#}
{#                <div class="text-sm md:text-xl">#}
{#                    avhadjanak@gmail.com#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
    <div class="hidden p-4 max-w-6xl mx-auto rounded-lg" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab"   >
        <div class="name font-semibold text-xl md:text-2xl mx-10 mb-4 mx-auto">
            CGPA Details :
        </div>
        <div class="container flex sm:flex-row flex-col flex-wrap">
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 1: {{display_user_content.Sem1}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 2 : {{display_user_content.Sem2}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 3 : {{display_user_content.Sem3}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 4 : {{display_user_content.Sem4}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 5: {{display_user_content.Sem5}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 6 : {{display_user_content.Sem6}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 7 : {{display_user_content.Sem7}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 8 : {{display_user_content.Sem8}}</p>
            </div>
        </div>

        <div class="name font-semibold text-xl md:text-2xl mx-10 mb-4 mx-auto">
            KT :
        </div>
        <div class="container flex sm:flex-row flex-col flex-wrap">
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>Dead kt:
                    {% if display_user_content.DeadKT == True %}
                        Yes
                    {% else %}
                        No
                    {% endif%}
                </p>
            </div>
            {% if display_user_content.DeadKT == True %}
                <div
                        class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                    <p>No of dead kt : {{display_user_content.No_Of_DeadKT}}</p>
                </div>
            {% endif%}

            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>Live KT:
                    {% if display_user_content.LiveKT == True %}
                        Yes
                    {% else %}
                        No
                    {% endif%}
                </p>
            </div>
            {% if display_user_content.LiveKT == True %}
                <div
                        class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                    <p>No Of LiveKT : {{display_user_content.No_Of_LiveKT}}</p>
                </div>
            {% endif%}

        </div>

        <div  class="name font-semibold text-xl md:text-2xl mx-10 my-4 mx-auto">
            Academics Details :
        </div>
        <div class="container flex sm:flex-row flex-col flex-wrap">
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>10th Score :  {{display_user_content.SSC}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>12th Score : {{display_user_content.HSC}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>12th Score : {{display_user_content.Diploma}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>JEE Score : {{display_user_content.JEE}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>MhCET Score : {{display_user_content.MhCET}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>Diploma Score : {{display_user_content.Diploma}}</p>
            </div>

            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>Collage Joinig Year : {{display_user_content.collage_joinig_year}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>Collage Passing Year : {{display_user_content.collage_passingYear}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>Future Options : {{display_user_content.future_options}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>Gate Status : {{display_user_content.Gate_Status}}</p>
            </div>

        </div>


    </div>
    <div class="hidden p-4 max-w-6xl mx-auto rounded-lg" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <div class="mx-2">
        {% if display_user_content.form_responses.all|length  == 0 %}
            <div class="flex flex-wrap flex-row  justify-center  rounded-2xl">
                <div
                        class="container flex flex-col justify-center p-6 mx-auto sm:py-12  lg:flex-row lg:justify-between">
                    <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
                        <h1 class="text-4xl font-bold leading-none sm:text-6xl">There is no Offer Letter Available
                        </h1>
                    </div>
                    <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
                        <img src='{% static "/img/undraw_Job_hunt_re_q203.png"%}' alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="flex flex-wrap flex-row justify-center p-2 bg-gray-100">
            {% for offer in display_user_content.form_responses.all %}
                {% if offer.response_Type == "placed"%}

                    <div class="flex flex-col md:flex-row rounded-2xl bg-white ">
                        <div class="flex flex-col mx-10 items-center flex justify-center ">
                            <ul class=" ">
                                <div class="mx-2 my-2 flex text-indigo-700 font-bold p-2 ">
                                    <p class="mx-2 border-b-2 border-indigo-700">{{offer.Form_id.Visitng_record.company.Company_name}}</p>
                                </div>
                                <li class="flex justify-items-start space-x-4 mx-4 my-2">
                                    <i class="bx bxs-calendar text-2xl"></i>
                                    <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.visiting_date}}</p>
                                </li>
                                <li class="flex justify-items-start space-x-4 mx-4 my-2">
                                    <i class="bx bx-data text-2xl"></i>
                                    <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.Position}}</p>
                                </li>
                                <li class="flex justify-items-start space-x-4 mx-4 my-2">
                                    <i class="bx bx-dollar-circle text-2xl"></i>
                                    {% if offer.Form_id.Visitng_record.MinLpa_offered ==  offer.Form_id.Visitng_record.MaxLpa_offered  %}
                                        <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.MinLpa_offered}} LPA</p>
                                    {% else %}
                                        <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.MinLpa_offered}} -  {{offer.Form_id.Visitng_record.MaxLpa_offered}} LPA</p>

                                    {% endif %}
                                </li>
                                <li class="flex justify-items-start space-x-4 mx-4 my-2">
                                    <i class="bx bx-user-circle text-2xl"></i>
                                    <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.HRName}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="mx-2 my-4 flex flex-col">
                            {% if request.user.is_authenticated and  request.user.id == display_user_content.id%}

                                <div class="m-2 cursor-pointer inline-flex space-x-2 text-indigo-700 font-bold  p-2 rounded-2xl">
                                    <i class="bx bx-upload text-xl"></i>
                                    <button  id="{{offer.id}}" class="border-b-2 border-indigo-700 text-black  show-modal ">Upload offer letter</button>
                                </div>
                            {% endif %}

                            <div class="m-2 inline-flex space-x-2 cursor-pointer text-indigo-700 font-bold  p-2 rounded-2xl">
                                <i class="bx bx-show text-xl"></i>
                                <a href="/media/{{offer.offer_letter}}" class="border-b-2 border-indigo-700 text-black">view offer letter</a>
                            </div>
                        </div>
                    </div>

                {%endif%}
            {% endfor %}
            </div>
        {% endif %}

        </div>
    </div>
    <div class="hidden max-w-6xl mx-auto p-4 " id="contacts" role="tabpanel" aria-labelledby="contacts-tab">

        <div class="">
            <div class="sm:px-8 md:px-16 sm:py-8">
                <main class="container mx-auto max-w-screen-lg h-full">
                    <article aria-label="File Upload Modal" class="relative h-full flex flex-col bg-white rounded-md" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);" ondragenter="dragEnterHandler(event);">
                        <section class="h-full overflow-auto p-8 w-full h-full flex flex-col">
                            {% if display_user_content.Resume_profile == "" %}
                                <div class="mx-2 my-10 flex flex-col ">
                                    <div class="container flex flex-col justify-center p-6 mx-auto sm:py-12  lg:flex-row lg:justify-between">
                                        <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
                                            <h1 class="text-4xl font-bold leading-none sm:text-6xl">There is no Resume Available...
                                            </h1>
                                        </div>
                                        <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
                                            <img src='{% static "/img/undraw_Job_hunt_re_q203.png"%}' alt=""
                                                 class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
                                        </div>
                                    </div>
                                </div>

                            {% else %}
                                <header class="border-dashed border-2 border-gray-400 py-12 flex flex-col justify-center items-center">
                                    <embed src='/media/{{ display_user_content.Resume_profile}}' class="hidden md:flex w-full h-72 md:h-screen">
                                    <div class="md:hidden flex justify-center">
                                        <a href='/media/{{ display_user_content.Resume_profile }}' type="button" class="text-white bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center justify-center w-full">
                                            <svg class="w-4 h-4 mr-2 -ml-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 252, 252, 1);">
                                                <path d="M3 12c0 1.654 1.346 3 3 3 .794 0 1.512-.315 2.049-.82l5.991 3.424c-.018.13-.04.26-.04.396 0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3c-.794 0-1.512.315-2.049.82L8.96 12.397c.018-.131.04-.261.04-.397s-.022-.266-.04-.397l5.991-3.423c.537.505 1.255.82 2.049.82 1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3c0 .136.022.266.04.397L8.049 9.82A2.982 2.982 0 0 0 6 9c-1.654 0-3 1.346-3 3z">
                                                </path>
                                            </svg>
                                            resume
                                        </a>
                                    </div>
                                </header>
                            {% endif %}

                            {% if request.user.is_authenticated and  request.user.id == display_user_content.id%}

                            <header class="my-4 border-dashed border-2 border-gray-400 py-12 flex flex-col justify-center items-center">
                                <button id="button" class="mt-2 show-modal-resume rounded-sm px-3 py-1 bg-gray-200 hover:bg-gray-300 focus:shadow-outline focus:outline-none">
                                    Upload a file
                                </button>
                            </header>
                            {% endif %}
                        </section>
                    </article>
                </main>
            </div>
        </div>




    </div>
</div>


<div class="modal h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50 hidden">

    <div class="bg-white rounded shadow-lg w-72 md:w-1/3">
        <div class="border-b px-4 py-2 flex justify-between items-center ">
            <h3 class=" font-semibold text-lg"> Upload File</h3>
            <button class=" text-black close-modal ">
                <i class='bx bx-x text-2xl'></i>
            </button>
        </div>


        <div class="p-3 input-tag-container">
        <div class="error_msg">

        </div>
            <label>Your PDF File
                <input type="file"  accept="application/pdf" id="upload_file" />
            </label>
        </div>

        <div class="flex justify-end items-center w-100 border-t p-3">
            <button class="bg-blue-800 px-4 py-2 rounded text-white mr-1 process-modal">Proceed</button>
            <button class="bg-blue-800 px-4 py-2 rounded text-white mr-1 close-modal">Cancel</button>

        </div>


    </div>
</div>


<script>
    window.state=false
    window.offer_id=null
    window.modal_state=false
    window.user_id={{ display_user_content.id }}



    document.querySelector('#shareBtn')
        .addEventListener('click', event => {

            if (navigator.share) {
                navigator.share({
                    title: 'Placeit',
                    url: "{% url 'Public_Profile' display_user_content.id %}"
                }).then(() => {
                    console.log('Thanks for sharing!');
                }).catch(err => {
                    console.log("Error while using Web share API:");
                    console.log(err);
                });
            } else {
                alert("Browser doesn't support this API !");
            }
        })
    const modal = document.querySelector('.modal');

    const showModal = document.querySelectorAll('.show-modal');
    const closeModal = document.querySelectorAll('.close-modal');
    const showModalResume = document.querySelector('.show-modal-resume');
    const Fileinput = document.querySelector('#upload_file');
    const InputTagContainer = document.querySelector('.input-tag-container');
    const Error_msg = document.querySelector('.error_msg');
    const process_modal = document.querySelector('.process-modal');




    window.modal_content=""

  if(showModalResume !== null)
  {
      showModalResume.addEventListener('click', function () {
          if(window.modal_state)
          {
              window.modal_state=false
          }
          else
          {
              window.state = false
              window.modal_state=true
          }
    console.log("ssssssssssssssss")
          modal.classList.remove('hidden')
      });
  }

    showModal.forEach(close => {
        close.addEventListener('click', function (ev) {
            modal.classList.remove('hidden');
            console.log("ssssssssssssssss")
           if(window.modal_state)
           {
               window.modal_state=false

           }
           else
           {
               console.log(ev.target.id)
               window.offer_id=ev.target.id
               window.state = true
               window.modal_state=true

           }
        });
    });

    closeModal.forEach(close => {
        close.addEventListener('click', function () {
            modal.classList.add('hidden');
            console.log("done")
        });
    });
    process_modal.addEventListener("click",call_fetch)

    function call_fetch(ev)
    {
        modal_content=modal.innerHTML
        modal.innerHTML=`<div class="loader"></div>`
        console.log(Fileinput.files[0])
        fetch_call()
    }


    function fetch_call()
    {

        function create_fetch_request()
        {
            let url=""
            if(state)
            {
                url=`/api/Offer_letter_update/${offer_id}/`
            }
            else
            {
                url=`/api/UserResume_profileUploadView/${user_id}/`
            }
            console.log(state,url)
            return url
        }

        var formdata = new FormData();

        var image =Fileinput.files[0]

        if(state)
        {formdata.append( 'offer_letter', image );}
        else
        {formdata.append( 'Resume_profile', image );}

        var csrf ="{{ csrf_token }}"
        formdata.append('csrfmiddlewaretoken', csrf);


        fetch(create_fetch_request(), {
            method: 'POST',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': csrf,
            },
            body: formdata
        })
            .then(response => {
                return response.json()
            })
            .then(data => {

                if (data.Success){
                modal.innerHTML=modal_content
                InputTagContainer.innerHTML="File Uploaded Sucesfully"
                    console.log(setTimeout(ev=>{
                        window.location.reload();
                    },1000))
                }
                if (data.error) {
                    modal.innerHTML=modal_content
                    Error_msg.innerHTML=data.error
                }
            })

        return false;

    }
</script>
