{% load static %}
{% load auth_extras %}
<div abc="{% url 'profile' as profilessss %}"></div>
<div class="max-w-6xl mx-auto">
    <div class="">
        <img  src='{% static "/img/cover2.jpeg"%}' class="w-full h-48 sm:h-72" alt="">
    </div>
    <div class="flex -mt-24 ">
        <div class="px-10 sm:px-20 block relative">
            <img alt="user_image"{% if display_user_content.i_card_image == "" %}
                 src='{% static "/img/default-avatar.png"%}'
            {% else %}
                 src='/media/{{ display_user_content.i_card_image }}'
            {% endif %}
                 class="mx-auto object-cover rounded-full h-36 w-36 sm:w-48 sm:h-48  mt-2 border-2 border-black" />
        </div>
    </div>
    <div class="flex flex-row-reverse max-w-6xl mx-4 md:-mt-4 md:mt-0 ">

            <button id="shareBtn"
                    class="text-white py-2 px-4 border-2 text-2xl text-blue-700 border-blue-900 rounded-full hover:text-white hover:bg-blue-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">

                <i class='bx bx-user-plus'></i>
            </button>

    </div>
</div>

<div class=" max-w-6xl mx-auto ">
    <div class="font-semibold text-xl md:text-3xl mx-10 mt-4 mx-auto">
        {{display_user_content.First_name}} {{display_user_content.middle_name}} {{display_user_content.Last_name}}
        {% if display_user_content|has_group:"Faculty" or display_user_content|has_group:"Head" %}
          <i class='bx bxs-badge-check text-xl md:text-3xl' style='color:#497de4'></i>
        {% endif %}
    </div>
    <ul class="max-w-3xl">
        {% if display_user_content.Affliated_Department.name != None %}
            <li class="flex justify-items-start space-x-4 mx-10 my-4">
                <i class="bx bxs-graduation text-2xl"></i>
                <p class="text-sm md:text-xl">
                    {{display_user_content.Affliated_Department.name}}
                </p>
            </li>
        {% endif %}

        <li class="flex justify-items-start space-x-4 mx-10 my-4">
            <i class="bx bxs-envelope text-2xl"></i>
            <a class="text-sm text-indigo-700 md:text-xl" href="#link">{{display_user_content.email}}</a>
        </li>
        <li class="flex justify-items-start space-x-4 mx-10 my-4">
            <i class="bx bxs-message-square-dots text-2xl"></i>
            <p class="text-sm sm:text-xl">
                {{display_user_content.Bio}}
            </p>
        </li>
    </ul>
</div>

<div class="flex mb-4 border-b- border-gray-200 dark:border-gray-700 justify-center">
    <ul class="flex sm:space-x-4 -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent"
        role="tablist">
        <li class="" role="presentation">
            <button
                    class="inline-block p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500"
                    id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                    aria-selected="true">
                Personal
            </button>
        </li>
        {% if display_user_content|has_group:"Student" %}
        <li class="" role="presentation">
            <button
                    class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                    id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
                    aria-selected="false">
                Education
            </button>
        </li>
        <li class="" role="presentation">
            <button
                    class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                    id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings"
                    aria-selected="false">
                Company
            </button>
        </li>
            {% if request.user.is_authenticated and  request.user.id == display_user_content.id%}
                <li role="presentation">
                    <button
                            class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                            id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts"
                            aria-selected="false">
                        Resume
                    </button>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>

<div id="myTabContent">
    <div class="p-4 rounded-lg max-w-6xl mx-auto " id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="text-gray-900">
            <div class="flex flex-row mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        First-Name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.First_name}}
                </div>
            </div>
            <div class="flex flex-row mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Second-Name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.middle_name}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Last-Name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.Last_name}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        <i class='bx bxl-github' ></i>
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    <a href="{{display_user_content.Github_profile}}">{{display_user_content.Github_profile}}</a>
                </div>
            </div>
            <div class="flex mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        <i class='bx bxl-linkedin-square' style='color:#0a66c2'>

                        </i>
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    <a href="{{display_user_content.linkedin_profile}}">{{display_user_content.linkedin_profile}}</a>
                </div>
            </div>

            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        MIS no :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.MIS_no}}
                </div>
            </div>
            {% if display_user_content|has_group:"Student" %}
                <div class="flex  mb-4 space-x-2 mx-2">
                    <div class=" text-sm md:text-xl">
                        <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                            Student phonenumber :
                        </label>
                    </div>
                    <div class="text-sm md:text-xl">
                        {{display_user_content.Student_phone_number}}
                    </div>
                </div>
                <div class="flex  mb-4 space-x-2 mx-2">
                    <div class=" text-sm md:text-xl">
                        <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                            Parent phonenumber :
                        </label>
                    </div>
                    <div class="text-sm md:text-xl">
                        {{display_user_content.Parent_phone_number}}
                    </div>
                </div>

            {% else %}
                <div class="flex  mb-4 space-x-2 mx-2">
                    <div class=" text-sm md:text-xl">
                        <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                            phonenumber :
                        </label>
                    </div>
                    <div class="text-sm md:text-xl">
                        {{display_user_content.Student_phone_number}}
                    </div>
                </div>

            {% endif%}



            <div class="name font-semibold text-xl  md:text-2xl mx-10 mb-4 mx-auto">
                Address-
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Building name And RoomNumber :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.Building_name_And_RoomNumber}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Building name And RoomNumber :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.Building_name_And_RoomNumber}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Locality_name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.Locality_name}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        State Name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.State_name}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        PostalCode :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.PostalCode}}
                </div>
            </div>
            <div class="flex  mb-4 space-x-2 mx-2">
                <div class=" text-sm md:text-xl">
                    <label class="block text-gray-600 font-bold text-right" for="inline-full-name">
                        Country Name :
                    </label>
                </div>
                <div class="text-sm md:text-xl">
                    {{display_user_content.Country_name}}
                </div>
            </div>

            {#            <div class="flex  mb-4 space-x-2 mx-2">#}
{#                <div class="text-sm md:text-xl">#}
{#                    <label class="block text-gray-900 font-bold text-right" for="inline-full-name">#}
{#                        <i class='bx bxl-gmail' style='color:#bb001b'></i>#}
{#                    </label>#}
{#                </div>#}
{#                <div class="text-sm md:text-xl">#}
{#                    avhadjanak@gmail.com#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
    <div class="hidden p-4 max-w-6xl mx-auto rounded-lg" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab"   >
        <div class="name font-semibold text-xl md:text-2xl mx-10 mb-4 mx-auto">
            CGPA Details :
        </div>
        <div class="container flex sm:flex-row flex-col flex-wrap">
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 1: {{display_user_content.Sem1}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 2 : {{display_user_content.Sem2}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 3 : {{display_user_content.Sem3}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 4 : {{display_user_content.Sem4}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 5: {{display_user_content.Sem5}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 6 : {{display_user_content.Sem6}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 7 : {{display_user_content.Sem7}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>sem 8 : {{display_user_content.Sem8}}</p>
            </div>
        </div>

        <div class="name font-semibold text-xl md:text-2xl mx-10 mb-4 mx-auto">
            KT :
        </div>
        <div class="container flex sm:flex-row flex-col flex-wrap">
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>Dead kt:
                    {% if display_user_content.DeadKT == True %}
                        Yes
                    {% else %}
                        No
                    {% endif%}
                </p>
            </div>
            {% if display_user_content.DeadKT == True %}
                <div
                        class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                    <p>No of dead kt : {{display_user_content.No_Of_DeadKT}}</p>
                </div>
            {% endif%}

            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                <p>Live KT:
                    {% if display_user_content.LiveKT == True %}
                        Yes
                    {% else %}
                        No
                    {% endif%}
                </p>
            </div>
            {% if display_user_content.LiveKT == True %}
                <div
                        class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                    <p>No Of LiveKT : {{display_user_content.No_Of_LiveKT}}</p>
                </div>
            {% endif%}

        </div>

        <div  class="name font-semibold text-xl md:text-2xl mx-10 my-4 mx-auto">
            Academics Details :
        </div>
        <div class="container flex sm:flex-row flex-col flex-wrap">
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>10th Score :  {{display_user_content.SSC}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>12th Score : {{display_user_content.HSC}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>12th Score : {{display_user_content.Diploma}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>JEE Score : {{display_user_content.JEE}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>MhCET Score : {{display_user_content.MhCET}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>Diploma Score : {{display_user_content.Diploma}}</p>
            </div>

            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>Collage Joinig Year : {{display_user_content.collage_joinig_year}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>Collage Passing Year : {{display_user_content.collage_passingYear}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>Future Options : {{display_user_content.future_options}}</p>
            </div>
            <div
                    class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                <p>Gate Status : {{display_user_content.Gate_Status}}</p>
            </div>

        </div>


    </div>
    <div class="hidden p-4 max-w-6xl mx-auto rounded-lg" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <div class="mx-2">
        {% if display_user_content.form_responses.all|length  == 0 %}
            <div class="flex flex-wrap flex-row  justify-center  rounded-2xl">
                <div
                        class="container flex flex-col justify-center p-6 mx-auto sm:py-12  lg:flex-row lg:justify-between">
                    <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
                        <h1 class="text-4xl font-bold leading-none sm:text-6xl">There is no Offer Letter Available
                        </h1>
                    </div>
                    <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
                        <img src='{% static "/img/undraw_Job_hunt_re_q203.png"%}' alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
                    </div>
                </div>
            </div>
        {% else %}
            {% for offer in display_user_content.form_responses.all %}
                {% if offer.response_Type == "placed"%}
                    <div class="mx-2">
                        <div class="flex flex-wrap flex-row border-4 justify-center border-blue-900 rounded-2xl">
                            <div class="flex flex-col mx-10 items-center flex justify-center basis-1/3">
                                <ul class=" ">
                                    <div class="mx-2 my-2 flex text-white font-extrabold bg-indigo-700 p-2 rounded-2xl">
                                        <p class="mx-2">{{offer.Form_id.Visitng_record.company.Company_name}}</p>
                                    </div>
                                    <li class="flex justify-items-start space-x-4 mx-10 my-4">
                                        <i class="bx bxs-calendar text-2xl"></i>
                                        <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.visiting_date}}</p>
                                    </li>
                                    <li class="flex justify-items-start space-x-4 mx-10 my-4">
                                        <i class="bx bx-data text-2xl"></i>
                                        <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.Position}}</p>
                                    </li>
                                    <li class="flex justify-items-start space-x-4 mx-10 my-4">
                                        <i class="bx bx-dollar-circle text-2xl"></i>
                                        {% if offer.Form_id.Visitng_record.MinLpa_offered ==  offer.Form_id.Visitng_record.MaxLpa_offered  %}
                                            <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.MinLpa_offered}} LPA</p>
                                        {% else %}
                                            <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.MinLpa_offered}} -  {{offer.Form_id.Visitng_record.MaxLpa_offered}} LPA</p>

                                        {% endif %}

                                    </li>
                                    <li class="flex justify-items-start space-x-4 mx-10 my-4">
                                        <i class="bx bx-user-circle text-2xl"></i>
                                        <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.HRName}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="mx-2 my-10 flex flex-col basis-1/2">
                                {% if request.user.is_authenticated and  request.user.id == display_user_content.id%}

                                    <div
                                        class="mx-2 p-5 my-2 cursor-pointer grid place-items-center text-indigo-700 font-extrabold border-4 border-indigo-700 p-2 rounded-2xl">
                                    <i class="bx bx-upload text-5xl"></i>
                                    <p class="">Upload offer letter</p>
                                </div>
                                {% endif %}
                                <div
                                        class="mx-2 p-5 my-2  cursor-pointer grid place-items-center text-indigo-700 font-extrabold border-4 border-indigo-700 p-2 rounded-2xl">
                                    <i class="bx bx-file-blank text-5xl"></i>
                                    <a href="/media/{{offer.offer_letter}}" class="">view offer letter</a>
                                </div>

                            </div>
                        </div>
                    </div>
                {%endif%}
            {% endfor %}
        {% endif %}

        </div>
    </div>
    <div class="hidden max-w-6xl mx-auto p-4 " id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
        <div class="mx-2 my-10 flex flex-col ">
            <div
                    class="mx-2 p-5 my-2 place-items-center flex flex-row justify-center space-x-4 text-indigo-700 font-bold border-2 border-indigo-700 p-2 rounded-2xl">
                <i class="bx bx-link text-5xl"></i>
                <a href="#" class="text-gray-900">Uploaded Resume</a>
            </div>
            <div class="flex justify-center items-center"> OR </div>
            <div
                    class="mx-2 p-5 my-2 place-items-center flex flex-row justify-center space-x-4 text-indigo-700 font-bold border-2 border-indigo-700 p-2 rounded-2xl">
                <i class="bx bx-link text-5xl"></i>
                <a href="#" class="text-gray-900">Upload Latest Resume</a>
            </div>
        </div>
    </div>
</div>


<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
    <div class="relative w-full h-full max-w-2xl md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Terms of Service
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
                <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector('#shareBtn')
        .addEventListener('click', event => {

            if (navigator.share) {
                navigator.share({
                    title: 'Placeit',
                    url: "{% url 'Public_Profile' display_user_content.id %}"
                }).then(() => {
                    console.log('Thanks for sharing!');
                }).catch(err => {
                    console.log("Error while using Web share API:");
                    console.log(err);
                });
            } else {
                alert("Browser doesn't support this API !");
            }
        })
    // set the modal menu element
    const $targetEl = document.getElementById('modalEl');

    // options with default values
    const options = {
        placement: 'bottom-right',
        backdrop: 'dynamic',
        backdropClasses: 'bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-40',
        closable: true,
        onHide: () => {
            console.log('modal is hidden');
        },
        onShow: () => {
            console.log('modal is shown');
        },
        onToggle: () => {
            console.log('modal has been toggled');
        }
    };
</script>
