{% load static %}
{% load auth_extras %}
<div abc="{% url 'profile' as profilessss %}"></div>

<div class="flex flex-wrap items-center justify-center">
    <div class="container bg-white shadow-lg transform duration-200 easy-in-out mx-24">
        <div class="sm:h-96 max-w-full overflow-hidden">
            <img class="w-full rounded-t"
                 src='{% static "/img/cover2.jpeg"%}'
                 alt="Photo by aldi sigun on Unsplash" />
        </div>
        <div class="flex px-16 items-center -mt-24 mb-0">
            <div class="block relative h-48 w-48">
                <img alt="Photo by aldi sigun on Unsplash"
                     {% if x.reminder == None %}
                     src='{% static "/img/default-avatar.png"%}'
                     {% else %}
                     src='{% static user.i_card_image %}'
                     {% endif %}
                     class="mx-auto object-cover rounded-full h-48 w-48 bg-white p-1" />
            </div>
        </div>
        <div class=" ">
            <div class="name font-semibold text-xl md:text-3xl mx-10 mt-4 mx-auto">
                {{display_user_content.First_name}} {{display_user_content.middle_name}} {{display_user_content.Last_name}}
            </div>
            <ul class="max-w-3xl">
                <li class="flex justify-items-start space-x-4 mx-10 my-4">
                    <i class="bx bxs-graduation text-2xl"></i>
                    <p class="text-sm md:text-xl">
{#                        {{user.Affliated_Department.name}}#}
                    </p>
                </li>
                <li class="flex justify-items-start space-x-4 mx-10 my-4">
                    <i class="bx bxs-envelope text-2xl"></i>
                    <a class="text-sm text-indigo-700 md:text-xl" href="#link">{{display_user_content.email}}</a>
                </li>
                <li class="flex justify-items-start space-x-4 mx-10 my-4">
                    <i class="bx bxs-message-square-dots text-2xl"></i>
                    <p class="text-sm md:text-xl">
                        {{display_user_content.Bio}}
                    </p>
                </li>
            </ul>
        </div>
        <div class="flex mb-4 border-b- border-gray-200 dark:border-gray-700 justify-center">
            <ul class="flex space-x-2 sm:space-x-4 -mb-px text-sm font-medium text-center" id="myTab"
                data-tabs-toggle="#myTabContent" role="tablist">
                <li class="mr-2" role="presentation">
                    <button
                            class="inline-block p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500"
                            id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                            aria-selected="true">
                        Personal
                    </button>
                </li>
                {% if display_user_content|has_group:"Student" %}
                <li class="mr-2" role="presentation">
                    <button
                            class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                            id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
                            aria-selected="false">
                        Education
                    </button>
                </li>
                    <li class="mr-2" role="presentation">
                    <button
                            class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                            id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings"
                            aria-selected="false">
                        Company
                    </button>
                </li>
                <li role="presentation">
                    <button
                            class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700"
                            id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts"
                            aria-selected="false">
                        Resume
                    </button>
                </li>
                {% endif %}
            </ul>
        </div>
        <div id="myTabContent">
            <div class="p-4 rounded-lg" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="text-gray-900">
                    <div class="name font-semibold text-xl md:text-2xl mx-10 mb-4 mx-auto">
                        Name Details :
                    </div>
                    <ul class="flex flex-col max-w-6xl">
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <p class="text-sm md:text-xl">FirstName :</p>
                            <p class="font-bold text-sm md:text-xl">{{display_user_content.First_name}}</p>
                        </li>
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <p class="text-sm md:text-xl">MiddleName :</p>
                            <p class="font-bold text-sm md:text-xl">{{display_user_content.middle_name}}</p>
                        </li>
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <p class="text-sm md:text-xl">Surname :</p>
                            <p class="font-bold text-sm md:text-xl">{{display_user_content.Last_name}}</p>
                        </li>
                        {% if display_user_content|has_group:"Student" %}
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <p class="text-sm md:text-xl">MIS_no :</p>
                            <p class="font-bold text-sm md:text-xl">{{display_user_content.MIS_no}}</p>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="flex flex-col md:flex-col flex-row max-w-6xl">
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <i class="bx bxs-envelope text-sm md:text-xl" style="color: #ebe417"></i>
                            <a href="#" class="font-bold text-sm md:text-xl">
                                {{display_user_content.email}}
                            </a>
                        </li>
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <i class="bx bxl-linkedin-square text-xl" style="color: #0077b5"></i>
                            <a href="#" class="font-bold text-sm md:text-xl">
                                {{display_user_content.linkedin_profile}}
                            </a>
                        </li>
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <i class="bx bxl-github text-xl" style="color: black"></i>
                            <a href="#" class="font-bold text-sm md:text-xl">
                                {{display_user_content.Github_profile}}
                            </a>
                        </li>
                    </ul>
                    {% if display_user_content|has_group:"Student" %}
                        <ul class="flex flex-col max-w-6xl">
                            <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                                <p class="text-sm md:text-xl">Student phonenumber :</p>
                                <p class="font-bold text-sm md:text-xl">{{display_user_content.Student_phone_number}}</p>
                            </li>
                            <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                                <p class="text-sm md:text-xl">Parent phonenumber :</p>
                                <p class="font-bold text-sm md:text-xl">{{display_user_content.Parent_phone_number}}</p>
                            </li>
                        </ul>
                    {% endif%}
                    <div class="name font-semibold text-xl md:text-2xl mx-10 mb-4 mx-auto">
                        Address :
                    </div>
                    <ul class="flex flex-col max-w-6xl">
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <p class="text-sm md:text-xl">Building name And RoomNumber :</p>
                            <p class="font-bold text-sm md:text-xl">{{display_user_content.Building_name_And_RoomNumber}}</p>
                        </li>
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <p class="text-sm md:text-xl">Locality_name :</p>
                            <p class="font-bold text-sm md:text-xl">{{display_user_content.Locality_name}}</p>
                        </li>
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <p class="text-sm md:text-xl">State Name :</p>
                            <p class="font-bold text-sm md:text-xl">{{display_user_content.State_name}}</p>
                        </li>
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <p class="text-sm md:text-xl">PostalCode :</p>
                            <p class="font-bold text-sm md:text-xl">{{display_user_content.PostalCode}}</p>
                        </li>
                        <li class="flex px-10 space-x-4 mx-10 my-2 py-2 border-4 max-w-xl rounded-3xl border-gray-500">
                            <p class="text-sm md:text-xl">Country Name :</p>
                            <p class="font-bold text-sm md:text-xl">{{display_user_content.Country_name}}</p>
                        </li>

                    </ul>


                </div>
            </div>
            <div class="hidden p-4 rounded-lg" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab"   >
                <div class="name font-semibold text-xl md:text-2xl mx-10 mb-4 mx-auto">
                    CGPA Details :
                </div>
                <div class="container flex sm:flex-row flex-col flex-wrap">
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>sem 1: {{display_user_content.Sem1}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>sem 2 : {{display_user_content.Sem2}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>sem 3 : {{display_user_content.Sem3}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>sem 4 : {{display_user_content.Sem4}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>sem 5: {{display_user_content.Sem5}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>sem 6 : {{display_user_content.Sem6}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>sem 7 : {{display_user_content.Sem7}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>sem 8 : {{display_user_content.Sem8}}</p>
                    </div>
                </div>

                <div class="name font-semibold text-xl md:text-2xl mx-10 mb-4 mx-auto">
                    KT :
                </div>
                <div class="container flex sm:flex-row flex-col flex-wrap">
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>Dead kt:
                            {% if display_user_content.DeadKT == True %}
                            Yes
                            {% else %}
                            No
                            {% endif%}
                            </p>
                    </div>
                    {% if display_user_content.DeadKT == True %}
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>No of dead kt : {{display_user_content.No_Of_DeadKT}}</p>
                    </div>
                    {% endif%}

                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>Live KT:
                            {% if display_user_content.LiveKT == True %}
                            Yes
                            {% else %}
                            No
                            {% endif%}
                        </p>
                    </div>
                    {% if display_user_content.LiveKT == True %}
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/5">
                        <p>No Of LiveKT : {{display_user_content.No_Of_LiveKT}}</p>
                    </div>
                    {% endif%}

                </div>

                <div  class="name font-semibold text-xl md:text-2xl mx-10 my-4 mx-auto">
                    Academics Details :
                </div>
                <div class="container flex sm:flex-row flex-col flex-wrap">
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                        <p>10th Score :  {{display_user_content.SSC}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                        <p>12th Score : {{display_user_content.HSC}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                        <p>12th Score : {{display_user_content.Diploma}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                        <p>JEE Score : {{display_user_content.JEE}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                        <p>MhCET Score : {{display_user_content.MhCET}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                        <p>Diploma Score : {{display_user_content.Diploma}}</p>
                    </div>

                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                        <p>Collage Joinig Year : {{display_user_content.collage_joinig_year}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                        <p>Collage Passing Year : {{display_user_content.collage_passingYear}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                        <p>Future Options : {{display_user_content.future_options}}</p>
                    </div>
                    <div
                            class="mx-2 my-2 flex items-center justify-center border-2 border-indigo-700 p-2 rounded-2xl basis-1/3">
                        <p>Gate Status : {{display_user_content.Gate_Status}}</p>
                    </div>

                </div>


            </div>




            <div class="hidden p-4 rounded-lg" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                {% for offer in display_user_content.response_to_user_set.all %}
                    {% if offer.response_Type == "placed"%}
                        <div class="mx-2">
                    <div class="flex flex-wrap flex-row border-4 justify-center border-blue-900 rounded-2xl">
                        <div class="flex flex-col mx-10 items-center flex justify-center basis-1/3">
                            <ul class=" ">
                                <div class="mx-2 my-2 flex text-white font-extrabold bg-indigo-700 p-2 rounded-2xl">
                                    <p class="mx-2">{{offer.Form_id.Visitng_record.company.Company_name}}</p>
                                </div>
                                <li class="flex justify-items-start space-x-4 mx-10 my-4">
                                    <i class="bx bxs-calendar text-2xl"></i>
                                    <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.visiting_date}}</p>
                                </li>
                                <li class="flex justify-items-start space-x-4 mx-10 my-4">
                                    <i class="bx bx-data text-2xl"></i>
                                    <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.Position}}</p>
                                </li>
                                <li class="flex justify-items-start space-x-4 mx-10 my-4">
                                    <i class="bx bx-dollar-circle text-2xl"></i>
                                    {% if offer.Form_id.Visitng_record.MinLpa_offered ==  offer.Form_id.Visitng_record.MaxLpa_offered  %}
                                    <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.MinLpa_offered}} LPA</p>
                                    {% else %}
                                    <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.MinLpa_offered}} -  {{offer.Form_id.Visitng_record.MaxLpa_offered}} LPA</p>

                                    {% endif %}

                                </li>
                                <li class="flex justify-items-start space-x-4 mx-10 my-4">
                                    <i class="bx bx-user-circle text-2xl"></i>
                                    <p class="text-sm md:text-xl">{{offer.Form_id.Visitng_record.HRName}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="mx-2 my-10 flex flex-col basis-1/2">

                            <div
                                    class="mx-2 p-5 my-2 cursor-pointer grid place-items-center text-indigo-700 font-extrabold border-4 border-indigo-700 p-2 rounded-2xl">
                                <i class="bx bx-upload text-5xl"></i>
                                <p class="">Upload offer letter</p>
                            </div>

                            <div
                                    class="mx-2 p-5 my-2  cursor-pointer grid place-items-center text-indigo-700 font-extrabold border-4 border-indigo-700 p-2 rounded-2xl">
                                <i class="bx bx-file-blank text-5xl"></i>
                                <a href="/media/{{offer.offer_letter}}" class="">view offer letter</a>
                            </div>

                        </div>
                    </div>
                </div>
                    {%endif%}
                {% endfor %}


            </div>
            <div class="hidden p-4 border-4 rounded-3xl border-gray-900" id="contacts" role="tabpanel"
                 aria-labelledby="contacts-tab">
                <div class="mx-2 my-10 flex flex-col ">
                    <div
                            class="mx-2 p-5 my-2 place-items-center flex flex-row justify-center space-x-4 text-indigo-700 font-bold border-2 border-indigo-700 p-2 rounded-2xl">
                        <i class="bx bx-link text-5xl"></i>
                        <a href="#" class="text-gray-900">Uploaded Resume</a>
                    </div>
                    <div class="flex justify-center items-center"> OR </div>
                    <div
                            class="mx-2 p-5 my-2 place-items-center flex flex-row justify-center space-x-4 text-indigo-700 font-bold border-2 border-indigo-700 p-2 rounded-2xl">
                        <i class="bx bx-link text-5xl"></i>
                        <a href="#" class="text-gray-900">Upload Latest Resume</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{#{% if request.path ==  profilessss %}#}
{#{% endif  %}#}
